header{
  color: red;
  text-align: center;
  padding: 5px;
  text-decoration: underline;
  font-size: 38px;
  }
h1{
  color: black;
  text-align: center;
  padding: 1px;
  font-size: 22px;}
a{
  font-size: 20px;
}
h2{
  background: grey;
  color: black;
  font-size: 18px;
}
table{
  font-size: 18px;
  background: lightgrey;
  text-align: center;
  vertical-align: center;
}
span.Georgia {
  color: Red;
}
span.Florida {
  color: Orange;
}
span.Kentucky {
  color: Blue;
}
span.Missouri {
  color: Gold;text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; text-shadow: 1px;
}
span.Tennessee {
  color: Orange;
}
span.Venderbilt {
  color: Black;
}
span.SouthCarolina {
  color: DarkRed;
}